<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Filters & Mixins</h1>
                <!-- Exercise 1) -->
                <!-- Build a local Filter which reverses the Text it is applied on -->
                <form>
                    <label for="input"></label>
                    <input id="input" type="text" v-model="text">
                </form>
                <hr>
                <h2>Exercise 1 - Reversed text:</h2>
                <b>With Filter:</b><p>{{ text | reversed }}</p>
                <b>With Computed:</b><p>{{ reversedText }}</p>
                
                <!-- Exercise 2 -->
                <!-- Build a global Filter which counts the length of a word and it appends it -->
                <!-- Like this: "Test" => Gets Filtered to => "Test (4)" -->
                <h2>Exercise 2 - Appends text's lenght:</h2>
                <b>With Filter:</b><p>{{ text | appendLength }}</p>
                <b>With Computed:</b><p>{{ textWithLenght }}</p>
                <hr>
                <p>{{ text2 }}</p>


                <!-- Exercise 3 -->
                <!-- Do the same as in Exercises 1 & 2, now with Computed Properties -->

                <!-- Exercise 4 -->
                <!-- Share the Computed Property rebuilding Exercise 2 via a Mixin -->
            </div>
        </div>
    </div>
</template>

<script>
    import { textMixin } from './textMixin.js'
    export default {
        mixins: [textMixin],
        filters: {
            reversed(value) {
                return value.split("").reverse().join("");
            }
        }
    }
</script>

<style>
    p {
        height: 1.3em; 
        margin: 0;
    }
</style>
